//! **************************************************************************
// Written by: Map P.20131013 on Mon May 15 12:04:46 2017
//! **************************************************************************

SCHEMATIC START;
COMP "out<0>" LOCATE = SITE "AE21" LEVEL 1;
COMP "out<1>" LOCATE = SITE "AD21" LEVEL 1;
COMP "out<2>" LOCATE = SITE "Y21" LEVEL 1;
COMP "out<3>" LOCATE = SITE "W20" LEVEL 1;
SCHEMATIC END;

