//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 07 16:00:56 2017
//! **************************************************************************

SCHEMATIC START;
COMP "out<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "out<1>" LOCATE = SITE "L17" LEVEL 1;
COMP "out<2>" LOCATE = SITE "L18" LEVEL 1;
COMP "out<3>" LOCATE = SITE "V23" LEVEL 1;
SCHEMATIC END;

