#Clock input from MKX1 module
NET "clk"	IOSTANDARD = HSTL_II	|	LOC = AA3;

#LVDS outputs to DAC1
NET 	"D0_out_p[0]" 	IOSTANDARD = LVDS_25 | LOC = K16;
NET 	"D0_out_n[0]" 	IOSTANDARD = LVDS_25 | LOC = K17;
NET 	"D0_out_p[1]" 	IOSTANDARD = LVDS_25 | LOC = J18;
NET 	"D0_out_n[1]" 	IOSTANDARD = LVDS_25 | LOC = J19;
NET 	"D0_out_p[2]" 	IOSTANDARD = LVDS_25 | LOC = L19;
NET 	"D0_out_n[2]" 	IOSTANDARD = LVDS_25 | LOC = L20;
NET 	"D0_out_p[3]" 	IOSTANDARD = LVDS_25 | LOC = K20;
NET 	"D0_out_n[3]" 	IOSTANDARD = LVDS_25 | LOC = J20;
NET 	"D0_out_p[4]" 	IOSTANDARD = LVDS_25 | LOC = H17;
NET 	"D0_out_n[4]" 	IOSTANDARD = LVDS_25 | LOC = H18;
NET 	"D0_out_p[5]" 	IOSTANDARD = LVDS_25 | LOC = E18;
NET 	"D0_out_n[5]" 	IOSTANDARD = LVDS_25 | LOC = D18;
NET 	"D0_out_p[6]" 	IOSTANDARD = LVDS_25 | LOC = G19;
NET 	"D0_out_n[6]" 	IOSTANDARD = LVDS_25 | LOC = F20;
NET 	"D0_out_p[7]"	IOSTANDARD = LVDS_25 | LOC = D19;
NET 	"D0_out_n[7]"	IOSTANDARD = LVDS_25 | LOC = D20;
NET 	"D0_out_p[8]" 	IOSTANDARD = LVDS_25 | LOC = J15;
NET 	"D0_out_n[8]" 	IOSTANDARD = LVDS_25 | LOC = J16;
NET 	"D0_out_p[9]" 	IOSTANDARD = LVDS_25 | LOC = G15;
NET 	"D0_out_n[9]" 	IOSTANDARD = LVDS_25 | LOC = F15;
NET 	"D0_out_p[10]" IOSTANDARD = LVDS_25 | LOC = G17;
NET 	"D0_out_n[10]" IOSTANDARD = LVDS_25 | LOC = F18;
NET 	"D0_out_p[11]" IOSTANDARD = LVDS_25 | LOC = E15;
NET 	"D0_out_n[11]" IOSTANDARD = LVDS_25 | LOC = E16;
NET 	"D0_out_p[12]" IOSTANDARD = LVDS_25 | LOC = H16;
NET 	"D0_out_n[12]" IOSTANDARD = LVDS_25 | LOC = G16;
NET 	"D0_out_p[13]" IOSTANDARD = LVDS_25 | LOC = F17;
NET 	"D0_out_n[13]" IOSTANDARD = LVDS_25 | LOC = E17;
NET 	"D0_out_p[14]" IOSTANDARD = LVDS_25 | LOC = D15;
NET	"D0_out_n[14]"	IOSTANDARD = LVDS_25 | LOC = D16;
NET 	"D0_out_p[15]" IOSTANDARD = LVDS_25 | LOC = C17;
NET	"D0_out_n[15]" IOSTANDARD = LVDS_25 | LOC = C18;
#Data clock output to DAC1
NET 	"DCI0_out_p" 	IOSTANDARD = LVDS_25 | LOC = H19;
NET 	"DCI0_out_n" 	IOSTANDARD = LVDS_25 | LOC = G20;

#Data clock input from DAC1
NET	"DCO0_p"	IOSTANDARD = LVDS_25		| LOC = F19;
NET	"DCO0_n"	IOSTANDARD = LVDS_25		| LOC = E20;
#NET	"DCO0_in"	IOSTANDARD = LVCMOS25	| LOC = K18;

#LVDS outputs to DAC2
NET 	"D1_out_p[0]" 	IOSTANDARD = LVDS_25 | LOC = B17;
NET 	"D1_out_n[0]" 	IOSTANDARD = LVDS_25 | LOC = A17;
NET 	"D1_out_p[1]" 	IOSTANDARD = LVDS_25 | LOC = A18;
NET 	"D1_out_n[1]" 	IOSTANDARD = LVDS_25 | LOC = A19;
NET 	"D1_out_p[2]" 	IOSTANDARD = LVDS_25 | LOC = A13;
NET 	"D1_out_n[2]" 	IOSTANDARD = LVDS_25 | LOC = A12;
NET 	"D1_out_p[3]" 	IOSTANDARD = LVDS_25 | LOC = C16;
NET 	"D1_out_n[3]" 	IOSTANDARD = LVDS_25 | LOC = B16;
NET 	"D1_out_p[4]" 	IOSTANDARD = LVDS_25 | LOC = B15;
NET 	"D1_out_n[4]" 	IOSTANDARD = LVDS_25 | LOC = A15;
NET 	"D1_out_p[5]" 	IOSTANDARD = LVDS_25 | LOC = B10;
NET 	"D1_out_n[5]" 	IOSTANDARD = LVDS_25 | LOC = A10;
NET 	"D1_out_p[6]" 	IOSTANDARD = LVDS_25 | LOC = B12;
NET 	"D1_out_n[6]" 	IOSTANDARD = LVDS_25 | LOC = B11;
NET 	"D1_out_p[7]" 	IOSTANDARD = LVDS_25 | LOC = B14;
NET 	"D1_out_n[7]" 	IOSTANDARD = LVDS_25 | LOC = A14;
NET 	"D1_out_p[8]" 	IOSTANDARD = LVDS_25 | LOC = G12;
NET 	"D1_out_n[8]" 	IOSTANDARD = LVDS_25 | LOC = F12;
NET 	"D1_out_p[9]" 	IOSTANDARD = LVDS_25 | LOC = D14;
NET 	"D1_out_n[9]" 	IOSTANDARD = LVDS_25 | LOC = D13;
NET 	"D1_out_p[10]" IOSTANDARD = LVDS_25 | LOC = C12;
NET 	"D1_out_n[10]" IOSTANDARD = LVDS_25 | LOC = C11;
NET 	"D1_out_p[11]" IOSTANDARD = LVDS_25 | LOC = E11;
NET 	"D1_out_n[11]" IOSTANDARD = LVDS_25 | LOC = D11;
NET 	"D1_out_p[12]" IOSTANDARD = LVDS_25 | LOC = F9;
NET 	"D1_out_n[12]" IOSTANDARD = LVDS_25 | LOC = F8;
NET 	"D1_out_p[13]" IOSTANDARD = LVDS_25 | LOC = F14;
NET 	"D1_out_n[13]" IOSTANDARD = LVDS_25 | LOC = F13;
NET 	"D1_out_p[14]" IOSTANDARD = LVDS_25 | LOC = AF24;
NET 	"D1_out_n[14]" IOSTANDARD = LVDS_25 | LOC = AF25;
NET 	"D1_out_p[15]" IOSTANDARD = LVDS_25 | LOC = AD23;
NET 	"D1_out_n[15]" IOSTANDARD = LVDS_25 | LOC = AD24;
#Data clock output to DAC2
NET 	"DCI1_out_p" 	IOSTANDARD = LVDS_25 | LOC = C14;
NET 	"DCI1_out_n" 	IOSTANDARD = LVDS_25 | LOC = C13;

#Data clock input from DAC2
NET	"DCO1_p"	IOSTANDARD = LVDS_25		| LOC = E13;
NET	"DCO1_n"	IOSTANDARD = LVDS_25		| LOC = E12;
#NET	"DCO1_in"	IOSTANDARD = LVCMOS25	| LOC = L18;

#Clock output to DACs
NET 	"CLK_out_p" 	IOSTANDARD = LVDS_25 | LOC = C19;
NET 	"CLK_out_n" 	IOSTANDARD = LVDS_25 | LOC = B19;

#SPI channels
NET 	"sck" 	IOSTANDARD = LVCMOS25	|	LOC = P26;
NET	"sdi" 	IOSTANDARD = LVCMOS25	|	LOC = N23;
NET 	"csb0" 	IOSTANDARD = LVCMOS25	|	LOC = M25;
NET 	"csb1" 	IOSTANDARD = LVCMOS25	|	LOC = K25;
NET 	"rst0" 	IOSTANDARD = LVCMOS25	|	LOC = L25;
NET 	"rst1" 	IOSTANDARD = LVCMOS25	|	LOC = K26;
NET	"sdo_in"	IOSTANDARD = LVCMOS25	|	LOC = P23;
NET	"sdo_out" IOSTANDARD = LVCMOS25	|	LOC = L17;

#Reset LED
NET	"rst_led"	IOSTANDARD = LVCMOS25	|	LOC = M17;
