//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 07 16:14:06 2017
//! **************************************************************************

SCHEMATIC START;
COMP "DCI0_out_p" LOCATE = SITE "H19" LEVEL 1;
COMP "D0_out_p<2>" LOCATE = SITE "Y22" LEVEL 1;
COMP "D0_out_p<3>" LOCATE = SITE "V23" LEVEL 1;
COMP "D1_out_p<0>" LOCATE = SITE "B17" LEVEL 1;
COMP "D0_out_p<4>" LOCATE = SITE "U26" LEVEL 1;
COMP "D1_out_p<1>" LOCATE = SITE "A18" LEVEL 1;
COMP "D0_out_p<5>" LOCATE = SITE "Y25" LEVEL 1;
COMP "D1_out_p<2>" LOCATE = SITE "A13" LEVEL 1;
COMP "rst0_out" LOCATE = SITE "L25" LEVEL 1;
COMP "D0_out_p<6>" LOCATE = SITE "G19" LEVEL 1;
COMP "D1_out_p<3>" LOCATE = SITE "C16" LEVEL 1;
COMP "D0_out_p<7>" LOCATE = SITE "D19" LEVEL 1;
COMP "D1_out_p<4>" LOCATE = SITE "B15" LEVEL 1;
COMP "clk" LOCATE = SITE "AA3" LEVEL 1;
COMP "D0_out_p<8>" LOCATE = SITE "J15" LEVEL 1;
COMP "D1_out_p<5>" LOCATE = SITE "B10" LEVEL 1;
COMP "D0_out_p<9>" LOCATE = SITE "G15" LEVEL 1;
COMP "D1_out_p<6>" LOCATE = SITE "B12" LEVEL 1;
COMP "D1_out_p<7>" LOCATE = SITE "B14" LEVEL 1;
COMP "CLK_out_p" LOCATE = SITE "C19" LEVEL 1;
COMP "D1_out_p<8>" LOCATE = SITE "G12" LEVEL 1;
COMP "D1_out_p<9>" LOCATE = SITE "D14" LEVEL 1;
COMP "sdio" LOCATE = SITE "P23" LEVEL 1;
COMP "rst1_out" LOCATE = SITE "K26" LEVEL 1;
COMP "D0_out_p<10>" LOCATE = SITE "G17" LEVEL 1;
COMP "D0_out_p<11>" LOCATE = SITE "E15" LEVEL 1;
COMP "D0_out_p<12>" LOCATE = SITE "H16" LEVEL 1;
COMP "D0_out_p<13>" LOCATE = SITE "F17" LEVEL 1;
COMP "D0_out_p<14>" LOCATE = SITE "D15" LEVEL 1;
COMP "D0_out_p<15>" LOCATE = SITE "C17" LEVEL 1;
COMP "D1_out_p<10>" LOCATE = SITE "C12" LEVEL 1;
COMP "D1_out_p<11>" LOCATE = SITE "E11" LEVEL 1;
COMP "D1_out_p<12>" LOCATE = SITE "F9" LEVEL 1;
COMP "D1_out_p<13>" LOCATE = SITE "F14" LEVEL 1;
COMP "D1_out_p<14>" LOCATE = SITE "AF24" LEVEL 1;
COMP "D1_out_p<15>" LOCATE = SITE "AD23" LEVEL 1;
COMP "sdo" LOCATE = SITE "N23" LEVEL 1;
COMP "DCI1_out_p" LOCATE = SITE "C14" LEVEL 1;
COMP "csb0" LOCATE = SITE "M25" LEVEL 1;
COMP "csb1" LOCATE = SITE "K25" LEVEL 1;
COMP "D0_out_p<0>" LOCATE = SITE "V21" LEVEL 1;
COMP "D0_out_p<1>" LOCATE = SITE "AA23" LEVEL 1;
SCHEMATIC END;

