//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 13 18:43:13 2017
//! **************************************************************************

SCHEMATIC START;
COMP "D1_out_n<6>" LOCATE = SITE "B11" LEVEL 1;
COMP "D1_out_n<7>" LOCATE = SITE "A14" LEVEL 1;
COMP "D1_out_n<8>" LOCATE = SITE "F12" LEVEL 1;
COMP "D1_out_p<0>" LOCATE = SITE "B17" LEVEL 1;
COMP "D1_out_n<9>" LOCATE = SITE "D13" LEVEL 1;
COMP "D1_out_p<1>" LOCATE = SITE "A18" LEVEL 1;
COMP "D1_out_p<2>" LOCATE = SITE "A13" LEVEL 1;
COMP "D1_out_p<3>" LOCATE = SITE "C16" LEVEL 1;
COMP "D1_out_p<4>" LOCATE = SITE "B15" LEVEL 1;
COMP "clk" LOCATE = SITE "AA3" LEVEL 1;
COMP "D1_out_p<5>" LOCATE = SITE "B10" LEVEL 1;
COMP "D1_out_n<10>" LOCATE = SITE "C11" LEVEL 1;
COMP "D1_out_p<6>" LOCATE = SITE "B12" LEVEL 1;
COMP "D1_out_n<11>" LOCATE = SITE "D11" LEVEL 1;
COMP "D1_out_p<7>" LOCATE = SITE "B14" LEVEL 1;
COMP "D1_out_n<12>" LOCATE = SITE "F8" LEVEL 1;
COMP "CLK_out_n" LOCATE = SITE "B19" LEVEL 1;
COMP "D1_out_p<8>" LOCATE = SITE "G12" LEVEL 1;
COMP "D1_out_n<13>" LOCATE = SITE "F13" LEVEL 1;
COMP "CLK_out_p" LOCATE = SITE "C19" LEVEL 1;
COMP "D1_out_p<9>" LOCATE = SITE "D14" LEVEL 1;
COMP "D1_out_n<14>" LOCATE = SITE "AF25" LEVEL 1;
COMP "D1_out_n<15>" LOCATE = SITE "AD24" LEVEL 1;
COMP "rst_led" LOCATE = SITE "M17" LEVEL 1;
COMP "rst1" LOCATE = SITE "K26" LEVEL 1;
COMP "D1_out_p<10>" LOCATE = SITE "C12" LEVEL 1;
COMP "D1_out_p<11>" LOCATE = SITE "E11" LEVEL 1;
COMP "D1_out_p<12>" LOCATE = SITE "F9" LEVEL 1;
COMP "D1_out_p<13>" LOCATE = SITE "F14" LEVEL 1;
COMP "D1_out_p<14>" LOCATE = SITE "AF24" LEVEL 1;
COMP "D1_out_p<15>" LOCATE = SITE "AD23" LEVEL 1;
COMP "sck" LOCATE = SITE "P26" LEVEL 1;
COMP "DCI1_out_n" LOCATE = SITE "C13" LEVEL 1;
COMP "DCI1_out_p" LOCATE = SITE "C14" LEVEL 1;
COMP "sdo" LOCATE = SITE "N23" LEVEL 1;
COMP "csb1" LOCATE = SITE "K25" LEVEL 1;
COMP "D1_out_n<0>" LOCATE = SITE "A17" LEVEL 1;
COMP "D1_out_n<1>" LOCATE = SITE "A19" LEVEL 1;
COMP "D1_out_n<2>" LOCATE = SITE "A12" LEVEL 1;
COMP "D1_out_n<3>" LOCATE = SITE "B16" LEVEL 1;
COMP "D1_out_n<4>" LOCATE = SITE "A15" LEVEL 1;
COMP "D1_out_n<5>" LOCATE = SITE "A10" LEVEL 1;
SCHEMATIC END;

